.absoluteUnitspx {
    font-size: 20px;
}

.absoluteUnitspt {
    font-size: 20pt;
}

.absoluteUnitspc {
    font-size: 3pc;
}

.absoluteUnitscm {
    font-size: 1cm;
}
.absoluteUnitsmm{
font-size: 10mm;
}
.absoluteUnitsin{
font-size: 0.5in;
}